.Carousel img {
  max-inline-size: 100%;
  height: 200px;
  object-fit: cover;
}

* {
  z-index: 1;
}

.Carousel {
  margin-bottom: 50px !important;
  font-family: "Tajawal", sans-serif;
}

.Carousel h3 {
  text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 40px #000000;
  font-family: "Noto Nastaliq Urdu", serif;
  color: #ffae00;
}
